*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.category{
    display: flex;

}
.boardleft{
    background-color: #ccc;
    border: 1px solid #ccc;
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.boardleft h2{
    margin-top: 10px;
    margin-left: 20px;
}
.statistic:hover{
    cursor: pointer;
    background-color:#D7EDFF ;
    color: #4094F7;
    padding:10px;
    transition: all 1s;

}
.Categories{
    background-color:#1d4a6e ;
    color: #d4d4d4;
    padding:10px;
    transition: all 1s;
}
.Product:hover{
    cursor: pointer;
    background-color:#D7EDFF ;
    color: #4094F7;
    padding:10px;
    transition: all 1s;

}
.boardright img{
    width: 36px;
    height: 36px;
    border-radius: 70%;
}
/* .boardright{
    gap: 20px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
} */
.headboardright{
    gap: 20px;
    width: 90vw;
    display: flex;
    justify-content: flex-end;
}
.line{
    border:2px solid #ccc;
    
}
.underhead{
    display: flex;
    justify-content: space-between;
    margin:10px;
}
.btnadd{
    padding:10px;
    background-color:#4094F7 ;
    color:white;
    border:1px solid #ccc;
    border:none;
    border-radius: 10px;
}
.btnadd{
    cursor: pointer;
}
.searchfilter{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 10px;
}
.searchbox{
    padding:10px;
    border:1px solid #ccc;
    border-radius: 10px;
}
.selectbox{
    width: 200px;
    border:1px solid #ccc;
    border-radius: 10px;
}
.th{
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr;
    background-color:#F9FAFB ;
    height: 44px;
    align-items: center;
}
.ListCategories{
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr;
    margin-top: 10px;
    align-items: center;
}
.StatusActive{
    border:1px solid black;
    border-radius: 20px;
    width: 160px;
    height: 20px;
    background-color: #ECFDF3;
    color:#1F8A5D ;
    border:none;
}
#btndelete{
    margin-right: 20px;
    border:none;
    background-color: white;
}
#btndelete:hover{
    cursor: pointer;
}
#btnedit{
    margin-right: 10px;
    border:none;
    background-color: white;
}
#btnedit:hover{
    cursor: pointer;
    border:1px solid #ccc;
    transition: all 2s;
}
.LineInList{
    margin-top: 10px;
    width: 100%;
    opacity: 0.5;
}
.StatusInActive{
    border:1px solid black;
    border-radius: 20px;
    width: 170px;
    height: 20px;
    background-color: #FEF2F2;
    color:#B91C1C ;
    border:none;
}
.DashBoard{
    margin-left: 50px;
}
.pageBut{
    display:flex;
    justify-content: center;
    margin-top: 50px;
    gap:20px;
}
.pagebutton{
    border:1px solid black;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.pagebutton:hover{
    cursor: pointer;
    background-color: #cccc;
}

