*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.nameuser{
    display: inline-block;

}
.title{
    text-align: center;
    font-size: 20px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.check{
    text-align: center;
    margin-left: 200px;
}
.title h1{
    font-size: 30px;
    margin-top: 20px;
}
.title p{
    opacity: 0.5;
}
.userinput{
    width: 550px;
    height: 48px;
    border-radius: 10px;
    border:1px solid #ccc;
}

.nameuser input{
    display:inline-block;
    height: 48px;
    width: 266px;
}
.name {
    display: inline-block;
    margin-left: 20px;
}
.name label{
    margin-bottom: px;
}
.nameuser input{
    border-radius: 10px;
    border:1px solid #ccc;
}
.nameuserinput{
    width: 224px;
}
.checkdeal{
    font-size: 20px;
}
.check{
    display: flex;
    align-content: flex-start;
    padding-bottom: 20px;
    margin-right: 280px;
}
.loginpage{
    text-decoration: none;
    font-size: 20px;
    margin-right: 200px;
}
.boxcheck {
    padding-right:300px;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.register{
    width: 550px;
    height: 48px;
    border-radius: 10px;
    color:white;
    background-color: #007AFF;
    border:1px solid #cccc
}
.register:hover{
    cursor: pointer;
}
.noteaccount{
    margin-top: 20px;
    margin-left: 90px;
    font-size: 20px;
}
.namelabel {
    margin-bottom: 10px;
    margin-top: 20px;

    margin-right: 250px;
}
.namelabel1 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 470px;
}
.namelabel2{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 350px;
}
.namelabel9{
    margin-bottom: 100px;
}
@media(max-width:600px){
    .nameuser input{
        width: 250px;
    }
    .nameuserinput{
        display:none;
        
    }
    .check{
        display:flex;
        flex-wrap: nowrap;
        margin-left:50px;
        margin-right: 50px;
    }
    .boxcheck{
        width: 40px;
        height: 40px;
    }
}
